<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="munimjiContext" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<configSections>
    <section name="munimji.workerModel" type="munimji.core.worker.configuration.WorkerModelSection, munimji.core.worker"/>
  </configSections>-->

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="webHttpBehaviour" name="munimji.services.wcf.entities.events.InvoiceService">
        <host>
          <baseAddresses>
            <add baseAddress="http://ADD_HOSTNAME_HERE:8000/MunimJiServices/InvoiceService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="munimji.services.wcf.entities.events.IInvoiceService"  behaviorConfiguration="webHttpBehaviour" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="webHttpBehaviour">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"  httpHelpPageEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>

  <!--<munimji.workerModel>
    <workers>
      <worker name="dummyService" implementation="munimji.services.wcf.entities.events.InvoiceService" />
    </workers>
  </munimji.workerModel>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
